html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

html.dark {
    background-color: #121212;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}

.dark .social {
    color: #fff;
}


body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}


.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
}

.nav-links a {
    color: #121212;
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.expanded {
    display: unset;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tag {
    padding: 2px 4px;
    font-size: em;
    text-decoration: none;
}

.tag a {
    color: #121212;
    text-transform: uppercase;
}

.dark .tag a {
    color: #fff;
}

.social {
    color: #121212;
    padding: 0.25rem .1rem;
    text-decoration: underline;
}

.blog-post{
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #121212;
    border: 1px solid #121212;
    border-radius: 1em;
    margin: 1em 0;
    padding: .5em 2em .5em 2em;
}
.blog-post h3{
    margin-top: 10px;
    margin-bottom: 2px;
}
.blog-post p{
    margin: 0;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }

}