---
const { title, url, descripcion,fecha } = Astro.props;
---
<a href={url}>
    <div class="blog-post">
        <h3>{title}</h3>
        <p>{descripcion}</p>
        <p>{fecha}</p>
    </div>
</a>


<style>
    a{
        text-decoration: none;
    }
</style>