---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
    <ThemeIcon class="themeicon" />
  </nav>
</header>

<style>
  nav {
    display: flex;
  }
  
</style>
